#Introduction to  python

In [ ]:
print("Welcome to ExcelR!")

Welcome to ExcelR!

In [ ]:
"hello"

'hello'

In [ ]:
125/4*2-1

61.5

In [ ]:
marks=80
marks

80

In [ ]:
type(marks)

int

In [ ]:
5**4  #**exponent symbol

625

In [ ]:
price=50.5
price#only shows output of last line
type(price)

float

In [ ]:
price=50.5
print(price)#to see intermediate line's output use print() function
type(price)

50.5

float

In [ ]:
name="ashwini"
type(name)

str

In [ ]:
dir(str)#all methods that can be applied on strings
# _dunder/magic()

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
str1='welcome to data science'
str1.capitalize()

'Welcome to data science'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE'

In [ ]:
str1.lower()

'welcome to data science'

In [ ]:
str1.title()

'Welcome To Data Science'

In [ ]:
food='BiRyARni'
name='AsHwiNi'
print(food.swapcase())
name.swapcase
print(name.swapcase())

bIrYarNI
aShWInI

In [ ]:
s1='my name is Ashwini'
print(s1.split())#list of strings is created
s2="mumbai-pune-mumbai"
s2.split(" ")

['my', 'name', 'is', 'Ashwini']

['mumbai-pune-mumbai']

In [ ]:
mail='Ashwini@Excelr.com'
mail.split('@')

['Ashwini', 'Excelr.com']

In [ ]:
s1.replace('Ashwini','shubi')

'my name is shubi'

In [ ]:
#single line comment
'''
multiline comment
'''

'\nmultiline comment\n'

In [ ]:
city='satara'
city.count("a")

3

In [ ]:
name='Raj'
name*4

'RajRajRajRaj'

In [ ]:
n1=5
n1*8

40

In [ ]:
name='Ashwini'
surname='Chobhe'
name+surname #concecates to words

'AshwiniChobhe'

In [ ]:
name+ " " +surname

'Ashwini Chobhe'

In [ ]:
#conditional statement
a=30
b=20
if(a>b):
  print("a is greater")
else:
  print("b is greater")

a is greater

In [ ]:
salary=35000
if(salary>20000):
  tax=0.25 
  print("hello from true if")
else:
  tax=0.20
  print("hello from false if/else")
print("bye...outside of if block")
net_sal=salary-tax*salary
print(net_sal)

hello from true if
bye...outside of if block
26250.0

In [ ]:
#For loop
for number in range(5,10): #print from 5 to 9.deafault  increment is 1.
   print(number)

5
6
7
8
9

In [ ]:
#print number 1 to 10
for i in range (1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#print all even numbers from 1 t0 20
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# print all odd numbers from 1 to 20
for i in range(1,20,2):
  print(i)

In [ ]:
for i in range(0,47,5):
  print(i)

0
5
10
15
20
25
30
35
40
45

In [ ]:
#'break' statement terninates the loop when condition satisfied
for i in range(1,11):
  if i==5:
    print("same")
    break
  else:
     print(i)

1
2
3
4
same

In [ ]:
for num in range(11): #0 to 10
  print(num,num*num)  #num & its square

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
for i in range(1,11):
  sq=i*i
  print(sq)

In [ ]:
# range(start, stop,step)
for i in range(1,30,5):
  #print(i)
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [ ]:
subject="Science"
for letter in subject:
  print(letter,end=' ')

S c i e n c e

In [ ]:
# print names 3 times on first line,4 times on 2nd line,5times on 3rd line,6times 4th line
name="Ashwini"
for i in range(3,7):
  print (name*i)

AshwiniAshwiniAshwini
AshwiniAshwiniAshwiniAshwini
AshwiniAshwiniAshwiniAshwiniAshwini
AshwiniAshwiniAshwiniAshwiniAshwiniAshwini

In [ ]:
# print each letter of movie on seperate line
movie="Bahubali"
for letter in movie:
  print(letter)

B
a
h
u
b
a
l
i

In [ ]:
#change case of each letter(upper to smaller & smaller to upper)
movie="Bahubali"
for letter in movie:
  #print(letter)
  #print(letter.swapcase())
  print(letter.swapcase(),end=" #") #try uppre(),lower(), " ","#",deafault end parameter is new line

b #A #H #U #B #A #L #I #

In [ ]:
#print all even & odd numbers between given range using for loop
for i in range(1,11):
  if i%2== 0:
    print('even number:',i)
  else:
    print('odd number:', i)

odd number: 1
even number: 2
odd number: 3
even number: 4
odd number: 5
even number: 6
odd number: 7
even number: 8
odd number: 9
even number: 10

In [ ]:
print('even number:')
for i in range(1,11):
  if i%2 == 0:
     print(i)

print("odd number:") 
for i in range(1,11):
  if i%2 !=0:     #!=not eual to
     print(i)

even number:
2
4
6
8
10
odd number:
1
3
5
7
9

In [ ]:
status1=True
type(status1)
status2=False
type(status2)

bool

In [ ]:
#print each letter 4 times with seperator as space
for letter in "Data science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      ssss cccc iiii eeee nnnn cccc eeee

In [ ]:
len("ashwini chobhe")

14

In [ ]:
len("shubhada")

8

In [ ]:
#data structure:1.List
#lists are mutable(replaced)
#created using square bracket[]
marks=[40,55,65,60,85,90,55,75]
marks

[40, 55, 65, 60, 85, 90, 55, 75]

In [ ]:
type(marks)

list

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
len(marks)

8

In [ ]:
new_marks=sorted(marks) #creates new sorted list.origanal marks list remains unchanged
new_marks

[40, 55, 55, 60, 65, 75, 85, 90]

In [ ]:
marks

[40, 55, 65, 60, 85, 90, 55, 75]

In [ ]:
marks.sort()   #orignal list is sorted in ascending order by default
marks

[40, 55, 55, 60, 65, 75, 85, 90]

In [ ]:
marks.append(35)
marks

[40, 55, 55, 60, 65, 75, 85, 90, 35]

In [ ]:
marks.reverse()
marks

[35, 90, 85, 75, 65, 60, 55, 55, 40]

In [ ]:
marks2=[57,46,78,98,73,49]
marks2

[57, 46, 78, 98, 73, 49]

In [ ]:

marks2.sort(reverse=True) # sort in descending order when reverse=true
marks2

[98, 78, 73, 57, 49, 46]

In [ ]:
marks3=[40,50,60,67,35,68]
marks3.sort(reverse=False)
marks3

[35, 40, 50, 60, 67, 68]

In [ ]:
marks

[35, 90, 85, 75, 65, 60, 55, 55, 40]

In [ ]:
80 in marks  #check whether 80 is present in list or not.if yes returns true,else false

False

In [ ]:
85 in marks

True

In [ ]:
list1=[10,25,35]
list2=[45,55,65]
list1+list2   #concatenation of two list

[10, 25, 35, 45, 55, 65]

In [ ]:
(list1+list2)*3  #repeates 3 times

[10, 25, 35, 45, 55, 65, 10, 25, 35, 45, 55, 65, 10, 25, 35, 45, 55, 65]

In [ ]:
#list of strings
list3=['Mango','Apple','Banana','Pineapple','Strawberry','Orange']
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Strawberry', 'Orange']

In [ ]:
#display fruits by changing case of  all fruits to uppercase
for fruit in list3:
  #print(fruit.upper())   #in single line :print (fruit.upper(),end=' ')
  #print(fruit.upper(),end=' ')
  print(fruit.replace('a','u'),end=" ")

Mungo Apple Bununu Pineupple Struwberry Orunge

In [ ]:
list3  #in python Indexing start with 0

['Mango', 'Apple', 'Banana', 'Pineapple', 'Strawberry', 'Orange']

In [ ]:
list3[0]

'Mango'

In [ ]:
list3[7]  #raise error as index is up to 5

IndexError: ignored

In [ ]:
list3[5]

'Orange'

In [ ]:
list3.count("Banana")

1

In [ ]:
#slicing 
list3[0:4] #0,1,2,3,

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
#from apple to orange 
list3[1:]

['Apple', 'Banana', 'Pineapple', 'Strawberry', 'Orange']

In [ ]:
#from bigining to mango to pineapple
list3[:4]

['Mango', 'Apple', 'Banana', 'Pineapple']

In [ ]:
#negative indexing : -1 refers to last element
list3[-1]

'Orange'

In [ ]:
list3[-3]

'Pineapple'

In [ ]:
list3[-6]

'Mango'

In [ ]:
#start stop step in slicing
print(list3)
list3[::2] #0,2,4,6

['Mango', 'Apple', 'Banana', 'Pineapple', 'Strawberry', 'Orange']

['Mango', 'Banana', 'Strawberry']

In [ ]:
n1=[1:31] #to creat list of 1-30 ---will raise error

SyntaxError: ignored

In [ ]:
n1=list(range(1,31))
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
n1[::2]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
# print nos from index 2 to 26 with step value 5
n1[2:26:5]

[3, 8, 13, 18, 23]

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Strawberry', 'Orange']

In [ ]:
list3[::-1]

['Orange', 'Strawberry', 'Pineapple', 'Banana', 'Apple', 'Mango']

In [ ]:
list3[::-2]  #step value is -2

['Orange', 'Pineapple', 'Apple']

In [ ]:
#use of 'in'  keywords : search substring in given word
'the' in 'netherland'

True

In [ ]:
'The' in 'netherland'

False

In [ ]:
'therer' in 'netherland'

False

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Strawberry', 'Orange']

In [ ]:
list3.append('Mulberry')
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Strawberry',
 'Orange',
 'Mulberry',
 'Mulberry']

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Strawberry',
 'Orange',
 'Mulberry',
 'Mulberry']

In [ ]:
#disply fruits which contain substring as 'berry' using for loop
for fruit in list3:
  if 'berry' in fruit:
     print(fruit)

Strawberry
Mulberry
Mulberry

In [ ]:
for fruit in list3:
  if 'pple' in fruit:
     print(fruit)

Apple
Pineapple

In [ ]:
list3.append('Black berry')
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Strawberry',
 'Orange',
 'Mulberry',
 'Mulberry',
 'Black berry']

In [ ]:
#create list of fruit from list3 having only 'berry'as substring & store remaining fruits in list5
list4=[]
list5=[]
for fruit in list3:
  if 'berry' in fruit:
    list4.append(fruit)
  else:
     list5.append(fruit)
print(list4,end=' ')     
print(list5,end=' ')

['Strawberry', 'Mulberry', 'Mulberry', 'Black berry'] ['Mango', 'Apple', 'Banana', 'Pineapple', 'Orange']

In [ ]:
# nos & its squares two  seperate srtrings
l1=[1,2,3,4,5,6]
l2=[]
for i in l1:
      l2.append( i**2) 
print(l1,end=' ')
print(l2,end=' ')

[1, 2, 3, 4, 5, 6] [1, 4, 9, 16, 25, 36]

In [ ]:
#list  comprehension -makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1,end=" ")
print(l2,end=" ")

[2, 3, 4, 5, 6] [4, 9, 16, 25, 36]

In [ ]:
#extract fruit names containing substring "berry" usingloop
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Strawberry',
 'Orange',
 'Black berry']

In [ ]:
newlist=[fruit for fruit in list3 if 'berry'in fruit]
print (newlist,end=" ")

['Strawberry', 'Mulberry', 'Mulberry', 'Black berry']

In [ ]:
newlist1=[fruit for fruit in list3 if 'berry' not in fruit]
newlist1

['Mango', 'Apple', 'Banana', 'Pineapple', 'Orange']

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Strawberry',
 'Orange',
 'Black berry']

In [ ]:
list3.index('Banana')

2

In [ ]:
list3.index('Black berry')

6

In [ ]:
list3.index('custard apple')  #will raise error as item is not in list

ValueError: ignored

In [ ]:
#index 2 item was banana which is replace by custard apple
#list are mutable -you can replace items of list
list3[2]="Custard apple"
list3

['Mango',
 'Apple',
 'Custard apple',
 'Pineapple',
 'Strawberry',
 'Orange',
 'Black berry']

In [ ]:
# Datat Structure : 2. Tuple
#Tuples are not mutable ie. immutable
# created using round bracket()
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [ ]:
type(t1)

tuple

In [ ]:
t1[0]

1

In [ ]:
t1[0]=7

TypeError: ignored

In [ ]:
dir(t1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1.count(1)

1

In [ ]:
t1.index(4)

3

In [ ]:
t2=(1,1,1,2,2,6,6,6,6,6)
t2.count(6)

5

In [ ]:
#indexing & scling with tuple is same as list
#extracting element of tuple
t1[2]

3

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t1[1:5]

(2, 3, 4, 5)

In [ ]:
# data structure :3.Dictionary
#Disctionaries are used to store data values in key: value pairs
#A dictionary is a collection which is ordered , changeable & do not allow duplicates
#dictionaries are written with curly brackets, & have keys & values
#here,keys are unique identifiers that are associated with each value
capital_dict={"Nepal":"Kathmandu","Italy":"Rome","England":"London"}
print(capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
type(capital_dict)

dict

In [ ]:
dir(capital_dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
#access element of disctionary
capital_dict["England"]

'London'

In [ ]:
#keys()  
keys=capital_dict.keys()
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [ ]:
#the items () method returns a view object that display a list of dictionary's (key,value) tuple pairs
items=capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [ ]:
# the update() method updates the dictionary with the element from another dictionary object
add_capital={"India":"New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [ ]:
capital_dict.update({"Australia":"Sydeny"})
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Sydeny'}

In [ ]:
#the pop()method removes & returns an element from a dictionary having the given key
capital_dict.pop("Australia")

'Sydeny'

In [ ]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [ ]:
#keys can be different data type
mylist=['mango','orange','strowberry','banana','mulberry','black berry']

In [ ]:
mytuple=(20,35,47,56,89,97,65)
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict}

In [ ]:
mydict

{'A': ['mango', 'orange', 'strowberry', 'banana', 'mulberry', 'black berry'],
 'B': (20, 35, 47, 56, 89, 97, 65),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi',
  'abc': 'xyz'}}

In [ ]:
mydict['A']

['mango', 'orange', 'strowberry', 'banana', 'mulberry', 'black berry']

In [ ]:
mydict['C']

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [ ]:
mydict['A'][3]  #index 0 1 2 3, 3rd element banana

'banana'

In [ ]:
mydict['C']['India']

'New Delhi'

In [ ]:
mydict['B'][2]

47

In [ ]:
#math functions: can import specific functions or all using *
sqrt(25)#raise error as you have not
factorial(5)

NameError: ignored

In [ ]:
from math import sin,cos,tan
sin(90)

0.8939966636005579

In [ ]:
from math import factorial
factorial(5)

120

In [ ]:
tan(45)

1.6197751905438615

In [ ]:
from math import *
#or you can say 'import math'
#but while calling any function you have to use math.Function_name()
#The math.prod()method
import math
sequence=(2,3,4,5)
print(math.prod(sequence))

120

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
df=pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
df.head(15)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0
11,-114.60,33.60,21.0,1988.0,483.0,1182.0,437.0,1.6250,62000.0
12,-114.61,34.84,48.0,1291.0,248.0,580.0,211.0,2.1571,48600.0
13,-114.61,34.83,31.0,2478.0,464.0,1346.0,479.0,3.2120,70400.0
14,-114.63,32.76,15.0,1448.0,378.0,949.0,300.0,0.8585,45000.0

In [ ]:
df=pd.read_csv('Salaries.csv')